/QLKS/nbproject/private/
/QLKS/build/
/WebNetBean/nbproject/private/
/Lab_ATWebCSDL/nbproject/private/
/Lab_ATWebCSDL/build/
/Lab_ATWebCSDL/dist/
/LapTrinhMang/nbproject/private/
/LapTrinhMang/build/
/LapTrinhMang/dist/
/HoangPhanMinhDuc_N17DCAT018_1/nbproject/private/
/HoangPhanMinhDuc_N17DCAT018_1/build/
/BlockChain/nbproject/private/
/BlockChain/build/
/BlockChain/dist/
/BaiTapCuaKhoa/nbproject/private/
/BaiTapCuaKhoa/build/
/DeThiTracNghiem/nbproject/private/
/DeThiTracNghiem/build/
/DeThiTracNghiem/dist/
/ThiThuLan_1_LTM/nbproject/private/
/ThiThuLan_1_LTM/build/
/HoangPhanMinhDuc_N17DCAT018_THNhom_2/nbproject/private/
/HoangPhanMinhDuc_N17DCAT018_THNhom_2/build/
/Chat/nbproject/private/
/HoangPhanMinhDuc_N17DCAT018_ThiThu_L1/nbproject/private/
/HoangPhanMinhDuc_N17DCAT018_ThiThu_L1/build/
/BTKiemTra/nbproject/private/
/BTKiemTra/build/