/QLKS/nbproject/private/
/QLKS/build/
/WebNetBean/nbproject/private/
/Lab_ATWebCSDL/nbproject/private/
/Lab_ATWebCSDL/build/
/Lab_ATWebCSDL/dist/
/LapTrinhMang/nbproject/private/
/LapTrinhMang/build/
/LapTrinhMang/dist/